<h1>Edit <%= @pokemon.name %></h1>
<form action="/pokemon/<%= @pokemon.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch" />
  <div class="form-group">
    <label class="form-label" for="name">Name:</label>
    <input class="form-input" id="name" name="[pokemon][name]" type="textbox" value="<%= @pokemon.name %>" />
  </div>
  <div class="form-group">
    <label class="form-label" for="type_name">Type:</label>
    <input class="form-input" id="type_name" name="[pokemon][type_name]" type="textbox" value="<%= @pokemon.type_name %>" />
  </div>
  <div class="form-group">
    <label class="form-label" for="description">Short Description:</label>
    <input class="form-input" id="description" name="[pokemon][description]" type="textbox" value="<%= @pokemon.description %>" />
  </div>
  <button class="btn">Submit</button>
</form>
