<h1><%= @pokemon.name %></h1>
<h2><%= @pokemon.name %> is a <%= @pokemon.type_name %> type Pokemon added by <a href="/user/<%= @pokemon.user.slug %>"><%= @pokemon.user.username %></a></h2>
<p><%= @pokemon.description %></p>

<% if @pokemon.user == current_user %>
  <div class="columns">
    <a class="btn column col-6" href="/pokemon/<%= @pokemon.id %>/edit">Edit Pokemon</a>
    <form class="column col-6" action="/pokemon/<%= @pokemon.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete" />
      <input class="btn btn-error btn-block" type="submit" value="Delete Pokemon" />
    </form>
  </div>
<% end %>
