<h1><%= @pokemon.name %></h1>
<p><i><%= @pokemon.name %></i> is a <u><%= @pokemon.type_name %></u> type Pokemon added by <a href="/user/<%= @pokemon.user.slug %>"><%= @pokemon.user.username %></a></p>
<p>Can only be described as "<%= @pokemon.description.downcase %>"</p>

<% if @pokemon.user == current_user %>
  <div class="columns">
    <a class="btn column col-3" href="/pokemon/<%= @pokemon.id %>/edit">Edit Pokemon</a>
    <form class="column col-3" action="/pokemon/<%= @pokemon.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete" />
      <input class="btn btn-error btn-block" type="submit" value="Delete Pokemon" />
    </form>
  </div>
<% end %>
