<h1><%= @pokemon.name %> was added by <a href="/user/<%= @pokemon.user.slug %>"><%= @pokemon.user.username %></a></h1>
<h2><%= @pokemon.type_name %> Type</h2>
<p><%= @pokemon.description %></p>

<% if @pokemon.user == current_user %>
  <a class="btn" href="/pokemon/<%= @pokemon.id %>/edit">Edit Pokemon</a>
  <form action="/pokemon/<%= @pokemon.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete" />
    <input class="btn" type="submit" value="Delete" />
  </form>
<% end %>
